<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="login" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯期中考試.mdb"
            providerName="System.Data.OleDb" />
        <add name="teset" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯期中考試.mdb"
            providerName="System.Data.OleDb" />
        <add name="test10" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯期中考試.mdb"
            providerName="System.Data.OleDb" />
        <add name="login1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯期中考試.mdb"
            providerName="System.Data.OleDb" />
        <add name="logintest" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯期中考試.mdb"
            providerName="System.Data.OleDb" />
        <add name="rig" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯期中考試.mdb"
            providerName="System.Data.OleDb" />
        <add name="person" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯期中考試.mdb"
            providerName="System.Data.OleDb" />
        <add name="scoretest" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯期中考試.mdb"
            providerName="System.Data.OleDb" />
        <add name="student" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯期中考試.mdb"
            providerName="System.Data.OleDb" />
        <add name="add" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯期中考試.mdb"
            providerName="System.Data.OleDb" />
        <add name="edit" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯期中考試.mdb"
            providerName="System.Data.OleDb" />
        <add name="del" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯期中考試.mdb"
            providerName="System.Data.OleDb" />
        <add name="find" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯期中考試.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
