<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯_資料庫.mdb"
            providerName="System.Data.OleDb" />
        <add name="personal_show" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯_資料庫.mdb"
            providerName="System.Data.OleDb" />
        <add name="personal_create" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯_資料庫.mdb"
            providerName="System.Data.OleDb" />
        <add name="edit_personal" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯_資料庫.mdb"
            providerName="System.Data.OleDb" />
        <add name="delete_personal" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯_資料庫.mdb"
            providerName="System.Data.OleDb" />
        <add name="search" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯_資料庫.mdb"
            providerName="System.Data.OleDb" />
        <add name="search1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯_資料庫.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
      <customErrors mode="Off"/>
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
