<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="login" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯_期中.mdb"
            providerName="System.Data.OleDb" />
        <add name="rigister" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯_期中.mdb"
            providerName="System.Data.OleDb" />
        <add name="wife" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯_期中.mdb"
            providerName="System.Data.OleDb" />
        <add name="wifeadd" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯_期中.mdb"
            providerName="System.Data.OleDb" />
        <add name="add" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯_期中.mdb"
            providerName="System.Data.OleDb" />
        <add name="control" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯_期中.mdb"
            providerName="System.Data.OleDb" />
        <add name="find" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ADT105112_邱奕畯_期中.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
